ul li{ list-style: none;}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/*
body{
    background: #ebebeb;
}*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../css/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../css/iconfont/MaterialIcons-Regular.woff) format('woff2'),
      url(../css/iconfont/MaterialIcons-Regular.woff2) format('woff'),
      url(../css/iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;  /* Preferred icon size */
    display: inline-block;
    /* line-height: 0.01rem; */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    height: 100%;
    
}
#header{
    height: 46px;
    line-height: 46px;
    background: #363539;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

#header #left{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100px;
}
#header #right{
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: flex-end;

}
#header #right i{
    padding-right: 6px;
}
#header #mid{
    text-align: center;
    flex: 1;
}
.contentWrap{
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    /*background-color: #363539;*/
    transition: 1s;
}
.contentWrap::-webkit-scrollbar {
    width: 0 !important
}
.item_me,.item_audio{
    display: flex;
    align-items: flex-start;
    justify-content:flex-end;
    padding: 8px;
    
}
.item_you{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    padding: 8px;
    margin-left: -35px;
}
.avatar{
    border-radius: 50%;
    width: 33px;
    height: 33px;
    overflow: hidden;
    
}
/*.avatar img{width: 100%;}*/
.item_me .chatContent{
    padding: 7px 13px 7px 13px;
    /*background: #a0e75a;*/
    background:rgb(46, 134, 250);
    /*border: 1px solid #6fb44d;*/
    color: seashell;
    margin-right: 15px;
    border-radius: 18px;
    position: relative;
    max-width: 60%;
}

.chatContent span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
/*.item_me .chatContent span.bot{
    border-width:8px; 
    border-style:solid dashed dashed; 
    border-color: transparent transparent transparent #6fb44d; 
    right:-17px; 
    top:10px;
}
.item_me .chatContent span.top{
    border-width:8px; 
    border-style:solid dashed dashed; 
    border-color:transparent transparent transparent #a0e75a ;  
    right:-15px; 
    top:10px;
} */
.item_you .chatContent{
    padding: 7px 13px 7px 13px;
    /*background: #a0e75a;*/
    color: rgb(27, 27, 27);
    /*border: 1px solid #6fb44d;*/
    background:#eee;
    margin-left: 15px;
    border-radius: 18px;
    position: relative;
    max-width: 60%;
} 
/*.item_you .chatContent span.bot{
    border-width:8px; 
    border-style:solid dashed dashed; 
    border-color: transparent #6fb44d transparent transparent ; 
    left:-17px; 
    top:10px;
}
.item_you .chatContent span.top{
    border-width:8px; 
    border-style:solid dashed dashed; 
    border-color:transparent #a0e75a transparent transparent  ;  
    left:-15px; 
    top:10px;
}  */


.footer {
    height: 60px;
    padding: 0 4px;
    background: #f4f5f6;
    border-top: 1px solid #d7d7d8;
    display: flex;
    align-items: center;
    color: #7f8389;
    justify-content: space-around;
}

.sayBtn {
    flex: 1;
    display: flex;
    margin: 0 5px;
    color: #565656;
    font-weight: bold;
    width: 20px;
}

.sendBtn {
    display: block;
    flex: 1;
    padding: 8px;
    background: #f4f5f6;
    border: 1px solid #bec2c1;
    border-radius: 5px;
    text-align: center;

}

.activeBtn {
    display: block;
    flex: 1;
    padding: 8px;
    background: #c6c7ca;
    border: 1px solid #bec2c1;
    border-radius: 5px;
    text-align: center;
}

.item_audio .chatContent {
    padding: 3px 0px 3px 10px;
    background: rgb(46, 134, 250);
   /* border: 1px solid #999;*/
    border-radius: 30px;
    margin-right: 15px;
    position: relative;
    width: 120px;
    min-height: 10px;
}

/*.item_audio .chatContent span.bot {
    border-width: 8px;
    border-style: solid dashed dashed;
    border-color: transparent transparent transparent #999;
    right: -17px;
    top: 10px;
}

.item_audio .chatContent span.top {
    border-width: 8px;
    border-style: solid dashed dashed;
    border-color: transparent transparent transparent #fff;
    right: -15px;
    top: 10px;
}*/

.material-icons_wifi {
    margin-left: 10px;
    color: #d8d8d8;
    font-size: 22px;
}

.redDot {
    background: #f45454;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 10px;
}





.textinput{
    border-radius: 18px;
    width: 560px;
    height: 33px;
    background: #eee;
}