body{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}




/*图片*/
.profile-img{
    max-width: 60px;
}
.profile-img-right{
    max-width: 150px;
}
.profile-img:hover{
    max-width: 58px;

}
/*上移图片*/
.imgup{
    position: relative;
    top: -20px;
}
.imgup-middle{
    position: relative;
    top: -15px;
}
.imgup-chat{
    position: relative;
    top: -13px;
}
/*图片*/
/*图片框*/
.resize{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
/*图片框*/
.left{
    margin: 8px 15px 8px 15px;
    position: absolute;
}
/*chat框框*/
.chat-border {
    /*border: 1px solid #ccc;*/
    /*background-color: seagreen;*/
    border-radius: 10px;
    margin: 5px 0px 5px;
  }
/*通讯录*/ 
#contacts {
    /*background-color: saddlebrown;*/
    margin-top: 31px;
    padding-left: 5px;
}
/*信息框架*/
.message{
    max-width: auto;
    white-space: nowrap; 
    margin: 15px 15px 5px 90px; 
    
}
/*信息内容*/
.message p {
    
    white-space: nowrap; 
    width: auto; 
    overflow: hidden;
    text-overflow: ellipsis;
}
/*图片圆框 contact*/
.p-img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: width 0.3s, height 0.3s,margin-top 0.3, margin-left 0.3;
    margin: 5px 5px 5px 5px;
}
.p-img:hover{
    width: 58px;
    height: 58px;
    margin: 6px 5px 6px 6px;
}


/*图片圆框 chat*/
.p-img-middle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: width 0.3s, height 0.3s,margin-top 0.3, margin-left 0.3;
    margin: 9px 5px 9px -22px;
}
.profile-img-middle{
    max-width: 40px;
}
.profile-img-chat{
    max-width: 33px;
}
.p-img-right{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    transition: width 0.3s, height 0.3s,margin-top 0.3, margin-left 0.3;
    text-align: center;
}
/*图片圆框 chat*/


table{
    width: 100%;
    table-layout:fixed;
}
table tr td{
    border: 2px;
}
/*信息div*/
.message1{
    max-width: auto;
    white-space: nowrap; 
    margin: 5px 15px 5px 0px; 
}
/*信息内容*/
.message1 p {
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: nowrap; 
    max-width: 180px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
/*信息文字*/
.message1 p:last-of-type{
    color: darkblue;
    opacity: 0.5;
}

.chat-icon-size{
    height: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.chat-icon-size img{
    width: 20px;
    height: 20px;
}
.readed{
    border-radius: 50%;
    width: 17px;
    height: 17px;
    overflow: hidden;
}
.sign-area{
    width: 30px;
    /*background-color: darkgoldenrod;*/
}

/*大众 按钮 聊天框*/
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
/*按钮 id*/
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
  
.button3:hover {background-color: #e7e7e7;}
/*按钮 聊天框*/

/*nav*/
#navb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px solid #eee;
    box-shadow: 0 1px 1px 0 rgba(182, 181, 181, 0.24), 0 2px 2px 0 rgba(194, 194, 194, 0.19);
    position: fixed;
    top: 0;
    right: 0;
    width: 74.95%;
  }
  #navb li {
    float: left;
    list-style: none;
    cursor: pointer;
  }
  
  #navb li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navb li a:hover:not(.active) {
    background-color: rgb(160, 121, 121);
  }
  
  #navb .active {
    background-color: rgb(32, 110, 255);
  }
  /*nav*/

  #navb-left {
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 60px;
    display: flex;
    flex-direction: row;
  }
  .profile-name{
    display: flex;
    flex-direction: row;
  }